@model Catalog.BusinessLogic.ProfesorBusiness

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Stergere Profesor</h2>

<h3>Sunteti sigur ca vreti sa stergeti acest profesor?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Stergere" class="btn btn-default" />
             @Html.ActionLink("Inapoi la Lista", "Index")
        </div>
    }
</div>
